<!doctype html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Guelph Career Planner</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link rel="stylesheet" href="Bootstrap/css/bootstrap.min.css">
    <link rel="stylesheetmap" href="Bootstrap/css/bootstrap.min.css.map">

    <script src="node_modules/angular/angular.min.js"></script>
    <script src="node_modules/angular/angular-route.min.js"></script>

    <script src="Bootstrap/js/bootstrap.min.js"></script>
    <script src="app.js"></script>
  </head>
  <body ng-app="UniCoursePlanner" ng-controller="MainController">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Guelph Career Planner</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#">Planner <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Course Map</a>
          </li>
        </ul>
      </div>
    </nav>
    <br/>
    <div ng-repeat="semester in semesters">
      <div class="card" style="margin-left: auto; margin-right: auto; width: 80%;">
        <div class="card-header">
          <div class="row">
            <div class="col text-left" style="padding-top: 5px;">Semester {{semester.num + 1}} ({{semester.season}})</div>
            <div class="col text-right">
              <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#SearchCourseModal" ng-click="SemesterSelecterListener(semester)">Add Course</button>
            </div>
          </div>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">CIS*1500</li>
            <li class="list-group-item">CIS*1250</li>
            <li class="list-group-item">CIS*1000</li>
          </ul>
      </div>
      <br/>
    </div>
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <button type="button" ng-click="AddSemesterListener()" class="btn btn-lg btn-primary" enabled>Add New Semester</button>
        </div>
      </div>
    </div>
    <br/>


    <!-- Modal -->
    <div class="modal fade" id="SearchCourseModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <div class="container">
              <div class="row">
                <form class="form-inline">
                  <input class="form-control mr-sm-2" type="search" placeholder="Search Courses" aria-label="Search" ng-model="searchText">
                  <button class="btn btn-outline-success my-2 my-sm-0" ng-click="searchString = searchText" type="submit">Search</button>
                </form>
                <button type="button" class="close" style="padding-top: 5px" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="row">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                  Filter
                </button>
              </div>
              <div class="collapse row" id="collapseExample">
                <div class="card card-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                </div>
              </div>
            </div>
          </div>
          <div class="modal-body">
            <div class="accordion" id="courseList" ng-repeat="course in filteredCourses = ( courses | CourseFilter : searchString | limitTo : 100)">
              <div class="card">
                <div class="card-header" id="heading{{course._id}}">
                  <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse{{course._id}}" aria-expanded="false" aria-controls="collapse1">
                      {{course.Code}} : {{course.Title}} <div class="btn btn-outline-primary btn-sm disabled"> {{course.Credits}}</div>
                      <div class="btn-group btn-group-sm float-right" role="group" aria-label="Basic example">
                        <div ng-show="course.Availability.indexOf('F') > -1 || course.Availability.indexOf('U') > -1" class="btn btn-warning disabled">Fall</div>
                        <div ng-show="course.Availability.indexOf('W') > -1 || course.Availability.indexOf('U') > -1" class="btn btn-info disabled">Winter</div>
                        <div ng-show="course.Availability.indexOf('S') > -1 || course.Availability.indexOf('U') > -1" class="btn btn-primary disabled">Summer</div>
                      </div>
                    </button>

                  </h2>
                </div>
                <div id="collapse{{course._id}}" class="collapse" aria-labelledby="heading{{course._id}}" data-parent="#courseList">
                  <div class="card-body">
                    <div class="container">
                      <div class="row">
                        <div class="col-2">
                          Description
                        </div>
                        <div class="col">
                          {{course.Description}}
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-2">
                          Offerings
                        </div>
                        <div class="col">
                          {{course.Offerings}}
                        </div>
                      </div>
                      <div class="text-right">
                        <button type="button" class="btn btn-success" ng-click="AddCoursesListener(course)">Add Course</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div ng-hide="filteredCourses.length" class="text-secondary text-center">No Results...<br/>Try searching for a course with the search bar or using the filters</div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
