<!doctype html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Guelph Career Planner</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link rel="stylesheet" href="Bootstrap/css/bootstrap.min.css">
    <link rel="stylesheetmap" href="Bootstrap/css/bootstrap.min.css.map">

    <script src="node_modules/angular/angular.min.js"></script>
    <script src="node_modules/angular/angular-route.min.js"></script>

    <script src="Bootstrap/js/bootstrap.min.js"></script>
    <script src="app.js"></script>
  </head>
  <body ng-app="UniCoursePlanner" ng-controller="MainController">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Guelph Career Planner</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#">Planner <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Course Map</a>
          </li>
        </ul>
      </div>
    </nav>
    <br/>
    <div ng-repeat="semester in semesters">
      <div class="card" style="margin-left: auto; margin-right: auto; width: 80%;">
        <div class="card-header">
          <div class="row">
            <div class="col text-left" style="padding-top: 5px;">Semester {{semester.num + 1}} ({{semester.season}})</div>
            <div class="col text-right">
              <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#SearchCourseModal">Add Course</button>
            </div>
          </div>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">CIS*1500</li>
            <li class="list-group-item">CIS*1250</li>
            <li class="list-group-item">CIS*1000</li>
          </ul>
      </div>
      <br/>
    </div>
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <button type="button" ng-click="AddSemester()" class="btn btn-lg btn-primary" enabled>Add New Semester</button>
        </div>
      </div>
    </div>
    <br/>


    <!-- Modal -->
    <div class="modal fade" id="SearchCourseModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Search Courses</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse fermentum id purus lacinia consequat. Mauris sed fermentum ligula. In id velit et purus mattis fermentum ut finibus metus. Sed id nisl sed erat cursus aliquet. Quisque molestie massa non est mattis aliquam. Aenean consequat metus nec quam pretium vulputate. Sed dictum, est sit amet tempor ultrices, massa elit finibus mauris, nec tincidunt justo elit nec nunc.

Praesent et lacus a metus facilisis posuere ut eu risus. In hac habitasse platea dictumst. Nulla dictum cursus elementum. Phasellus at augue erat. In iaculis nisl vel imperdiet molestie. Ut pretium nisi et purus sodales, a mollis quam bibendum. Phasellus id hendrerit lacus, ac tempor ex. Fusce mattis odio non venenatis mollis. Curabitur at rhoncus ex, at finibus metus. Maecenas faucibus sapien at mauris gravida, blandit viverra elit porttitor. Donec laoreet venenatis ligula vel faucibus.

Maecenas ac ante eget lectus imperdiet pulvinar. Curabitur mollis justo et erat tincidunt commodo. Sed eros quam, pretium condimentum magna ac, lobortis tempor augue. Aliquam at elit eu neque tincidunt elementum. Phasellus vitae lectus elit. Morbi nec interdum ligula, sit amet mollis quam. Curabitur bibendum sem nec tortor viverra, eget interdum ligula gravida. Ut auctor, lectus in feugiat aliquet, massa libero ultrices leo, nec suscipit augue mi sed lacus.

Cras commodo ex et elementum bibendum. Nullam vel sodales arcu. Curabitur sapien sapien, volutpat eu ligula at, dapibus cursus dui. Vivamus rhoncus mattis faucibus. Quisque sit amet augue consectetur, congue nulla id, cursus est. Vivamus ut leo neque. Donec leo magna, rutrum at rhoncus id, suscipit interdum libero. Aenean feugiat consectetur fermentum. Curabitur ornare nulla sit amet ex cursus, sed tincidunt est fermentum. Curabitur in euismod turpis.

Cras velit felis, posuere non lobortis finibus, finibus nec dui. Pellentesque consectetur tincidunt diam. Etiam tempor enim vitae leo maximus, nec ornare elit suscipit. Sed est dolor, rutrum ut interdum facilisis, maximus quis nisi. Aliquam porttitor congue diam at commodo. Vivamus pulvinar arcu vitae nibh fringilla tincidunt. Curabitur ac orci vestibulum, auctor libero vel, lacinia erat. Sed vel ante et arcu fermentum tempor. Quisque pellentesque ipsum nisi, vel lacinia justo elementum nec. Donec scelerisque dolor a tortor suscipit sodales. Curabitur enim neque, congue gravida nisl vel, feugiat finibus sem.
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
